html {
    overflow-y: scroll;
}

body {
    font-family: sans-serif;
}

#board {
    padding: 2vh;
    position: relative;
    text-align: center;
    max-height: 70vh;
}

#board img {
    max-height: 70vh;
    max-width: 100%;
    z-index: -1;
}

#titlebar {
    display: flex;
    flex-direction: row;
    height: 10vh;
    border-bottom: 2px solid lightgray;
    align-items: center;
}

#titlebar img {
    height: 10vh;
}

.nav {
    margin-right: 5%;
    font-size: 1.5em;
    background-color: white;
    border: 2px solid white;
    cursor: pointer;
}

.nav span {
    border: 1px solid white;
    transition: all 0.5s;
}

.current {
    color: red;
    border: 1px solid red;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.nav:hover span {
    color: red;
    border: 1px solid red;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

:root {
    --hand-color: lightblue;
    --foot-color: yellow;
    --clear: rgba(0,0,0,0);
}

.hand-hold {
    stroke: var(--clear);
    fill: var(--clear);
    stroke-width: 3;
}

.hand-hold-circle {
    fill: var(--clear);
    pointer-events: none;
}


#setting {
    display: none;
    justify-content: center;
    align-items: stretch;
    max-width: 100%;
    height: 10vh
}

.setting-item {
    padding: 2vh;
}

#select {
    background: none;
    border: none;
    font-size: 1.5em;
    font-weight: bold;
}

.btn {
    border: none;
    background: none;
    border-radius: 10%;
}

#start:hover { 
    background-color: lightgreen;
}
#finish:hover { 
    background-color: palevioletred;
}
#hands:hover { 
    background-color: lightblue;
}
#feet:hover { 
    background-color: yellow;
}

#error {
    text-align: center;
    padding: 2vh;
    display: none;
}

#info-box {
    position: fixed;
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    top: 10vh;
    left: 25vw;
    width: 50vw;
    height: 30vh;
    background-color: white;
    box-shadow: 5px 10px darkgray;
    border: 2px solid darkgray;
}

#exit {
    margin: 1vw;
    width: fit-content;
}
#exit:hover {
    cursor: pointer;
}

#title {
    align-self: center;
    padding: 0;
}

#value {
    width: 80%;
    align-self: center;
    margin-bottom: 2vw;
}

#popup-button {
    width: 50%;
    align-self: center;
    padding: 2vw;
}